
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS" />

    <meta http-equiv="Content-Script-Type" content="text/javascript" />

    <meta http-equiv="Content-Style-Type" content="text/css" />

    <style type="text/css">
      table {
        border-collapse: collapse;
      }

      table tr td {
        border: solid 1px #dcdcdc;
      }

      table tr td.noborder {
        border-style: none;
      }

      .plan2 {
        float: left;
      }

      p {
        margin: 0;
      }
    </style>

    <title>sample</title>
  </head>

  <body>
    <p>案1：横にセルを作って、そいつのボーダーは無しにする。</p>

    <table>
      <tr>
        <td>一</td>
        <td>ニ</td>
        <td>三</td>
        <td>四</td>
        <td class="noborder"><a href="#!">詳細</a></td>
        <td class="noborder"><a href="#!">編集</a></td>
      </tr>
    </table>

    <br /><br />

    <p>案2：floatで回り込ませる。</p>

    <table class="plan2">
      <tr>
        <td>一</td>
        <td>ニ</td>
        <td>三</td>
        <td>四</td>
      </tr>
    </table>

    <p class="plan2"><a href="#!">詳細</a></p>
    <p class="plan2"><a href="#!">編集</a></p>

    <br style="clear: both" /><!-- clear:bothでfloatを解除 -->

    <p>floatさせた後は、clear:bothを忘れずに！</p>
  </body>
</html>
